body{
	font-family: 'Signika', sans-serif;
	font-size: 14px;
	letter-spacing:0.3px;
}
img{
	max-width: 100%;
}
p{
	font-size: 14px;
	color: #111111;
	line-height: 26px;
}
a{	
	color: #27abff;
	text-decoration: inherit;
	outline: inherit !important;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
a:hover{
	text-decoration: none !important;
	box-shadow: none !important;
	outline: none !important;
	color: #33495e;
}
section{
	padding: 60px 0;
}
.btn{
	font-size: 18px;
	padding: 10px 30px;
	border:0px solid transparent;
	border-radius: 0px;
	white-space: normal;
}
button:focus,
.btn:focus{
	outline: none;
	box-shadow: none;
}
.form-control:focus {
    border-color: #80bdff !important;
    box-shadow: none;
}
.section-heading {
    padding: 0 280px;
}
.section-heading .titel-text{
	font-size: 16px;
}
.text{
	color: #242425;
}
.ow-hidden{
  overflow: hidden;
}
.section-heading h2 {
    font-weight: 700;
}
/*  Header  */
header{
	z-index: 2;
}
.header-top {
    background: rgba(0,0,0,0.8);
}
.header-bottm {
    background: #F3F3F3;
    box-shadow: 1px 1px 2px #ccc;
}
.sticky-top{
	position: sticky !important;
	background: #ffffff;
	border-bottom: 1px solid #f5f5f5;
}
.sticky-top .top-header{
	display: none !important;
	transition: all 0.3s ease 0s;
}
.navbar-brand{
	padding: 0;
}
.navbar.navbar-expand-md{
	padding: 15px 0;
}
.navbar-toggler {
    border-radius: 0;
    padding: 4px 8px;
}
.contact_info li{
    padding: 10px;
    border-left: 2px solid #000000;
}
.social-icon li a{
	padding: 5px 10px;
	color: #ffffff;
	font-size: 17px;
}
.social-icon li a:hover{
	color: #4FC54C;
}
.follow-us{
	font-size: 15px;
	color: #b5b5b5;
}
.contact_info li:first-child {
    border-left: 2px solid transparent;
}
.contact_info ul li a{
	color: #ffffff;
}
.navbar-nav .nav-link{
	padding: 5px 21px !important; 
	color: #fff;
  margin: 0 6px;
	font-size: 17px;
  border-radius: 13px 2px 13px 2px;
	font-weight: bold;
  background: #66C438;
  display: inline-block;
}
.navbar-expand-md .navbar-nav .nav-link:hover {
    color: #fff;
    border-radius: 2px 13px 2px 13px;
    background: #3E3084;
}
.navbar-nav .active{
	color: #43b2ff;
}
input:focus, textarea:focus, select:focus {
    outline: none;
}
/*.social-icon li {
    float: right;
}*/
/*===============================*/
/*------/*  Main Banner----------*/
/*===============================*/
.home-slider {
    background-size: cover;
    min-height: 690px;
    position: relative;
    z-index: 1;
}
.home-slider:after {
    position: absolute;
    display: block;
    content: "";
    background: rgba(0,0,0,0.5);
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
.slider-banner .slick-prev,
.slider-banner .slick-next{
	z-index: 1;
	background: #3E3084;
	width: 40px;
	transition: all 0.5s ease 0s;
	height: 40px;
	border-radius: 100%;
}
.slider-banner .slick-prev {
    left: 15px;
}
.slider-banner .slick-next  {
    right: 15px;
}
.slider-banner .slick-prev:hover,.slider-banner .slick-next:hover{
	 background: #4FC54C;
}

.slider-banner .slick-next:before {
    content: '\f105 ';
    font-family: 'FontAwesome';
}
.slider-banner .slick-prev:before {
    content: '\f104';
    font-family: 'FontAwesome';
}
.banner-title{
	font-size: 59px;
    text-transform: capitalize;
}
/*------------------------------------
      OUR SERVICE
------------------------------------*/
.our-services{
  background: #f6f7fc;
}
.service-block{
  background: #fff;
  box-shadow: 0px 0px 21px 1px rgba(0,0,0,0.3);
}
.service-icon-block:before{
  position: absolute;
  display: block;
  content: "";
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(62,48,133,0.7);
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease 0s;
  z-index: 99;
}
.service-block:hover .service-icon-block:before{
  opacity: 1;
  visibility: visible;
  top: 0;
}
.service-icon-block img{
  width: 100%;
  transition: all 5s ease 0.5s;
}
.service-block:hover .service-icon-block img{
  transform: scale(1.3);
}
.service-left-text{
  padding: 10px 15px;
}
.service-left-text a{
  color: #3E3084;
}
.service-block-titel{
  font-size: 18px;
  font-weight: 900;
}
/*------------------------------------
      About-us Css
------------------------------------*/
.about-us .content-column{
  margin-bottom: 40px;
}
.about-us {
  padding-top: 80px;
  background: url(../images/about-bg.png);
}
.about-us .content-column .inner-column {
    padding-top: 45px;
    padding-right: 30px;
}
.about-us .content-column .text,
.company-intro .company-info .text,
.vision .vision-text .text  {
    position: relative;
    font-size: 16px;
    line-height: 36px;
    color: #777777;
    font-weight: 400;
    margin-bottom: 35px;
}
.about-us .content-column .message {
    position: relative;
    font-size: 20px;
    line-height: 40px;
    color: #211F2D;
    font-weight: 400;
    margin-bottom: 70px;
}
.btn-style-two {
    font-size: 16px;
    line-height: 30px;
    padding: 12px 48px;
    border-radius: 5px;
    font-weight: 400;
    background-color: #3B3388;
}
.btn-style-two:hover{
  background: #4FC54C;
}
.about-us .content-column .message span {
    font-weight: 700;
    color: #3B3388;
}
.inner-column img {
     box-shadow: -20px -20px #65C437; 
}
/*------------------------------------
			contact us Css
------------------------------------*/
.contact-us {
    background: url(../images/blog-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
}
.contact-us:before{
  position: absolute;
  display: block;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
}
.contact-form input,
.contact-form textarea {
    width: 100%;
    color: #999;
    height: 55px;
    padding: 0 30px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
}
.contact-form textarea {
    height: 168px;
    resize: none;
    padding-top: 15px;
}
.main-btn {
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    border: 0;
    line-height: 48px;
    background-color: #65C437;
    color: #fff;
    padding: 0 34px;
    border-radius: 50px;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
    cursor: pointer;
}
.main-btn:hover {
    color: #fff;
    background-color: #4E9928;
    border-color: #65C437;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 310px;
}
.gmap_canvas iframe {
    height: 100%;
    border:0;
}
/*------------------------------------
      Gallery Css
------------------------------------*/  
.filter-button{
    font-size: 16px;
    padding: 4px 30px;
    font-weight: 500;
    color: #fff;
    background: #211F2D;
    border-radius: 7px 0 7px 0;
    transition: all 0.5s ease 0s;
}
.filter-button:last-child{
  border: 0;
}
.filter-button:hover{
    color: #ffffff;
    background-color: #4A40B1;
    border-radius: 0 7px 0 7px;
}
.btn-default:active .filter-button:active{
    background-color: #42B32F;
    color: #fff;
}
.port-image{
    width: 100%;
}
.gallery_product{
    margin-bottom: 30px;
}
.gallery-menu-block h1{
  color: #3B3388;
}
/*------------------------------------
			team css
------------------------------------*/
.our-team-block{
	background: #F6F7FC;
}
.team-2 .image {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    margin: auto;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease 0s;
}
.team-2 .image::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(59,51,136,0.6);
    opacity: 0;
    transition: all 0.5s ease 0s;
}
.team-2:hover .image::before {
    opacity: 0.75;
}
.team-2 .image img {
    width: 100%;
}
.team-2 .image .social {
    display: flex;
    position: absolute;
    left: 12%;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
    align-items: center;
}
.team-2 .image .social a {
    width: 30px;
    height: 30px;
    padding: 5px;
    text-align: center;
    border-radius: 50px;
    display: block;
    color: #ffffff;
    transform: translateY(20px);
    margin-right: 10px;
    opacity: 0;
}
.team-2 .image .social a:nth-child(1) {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.team-2 .image .social a:nth-child(2) {
    -webkit-transition: all 0.3s ease 0.1s;
    -o-transition: all 0.3s ease 0.1s;
    transition: all 0.3s ease 0.1s;
}
.team-2 .image .social a:nth-child(3) {
    -webkit-transition: all 0.3s ease 0.2s;
    -o-transition: all 0.3s ease 0.2s;
    transition: all 0.3s ease 0.2s;
}
.team-2 .image .social a:nth-child(4) {
    -webkit-transition: all 0.3s ease 0.3s;
    -o-transition: all 0.3s ease 0.3s;
    transition: all 0.3s ease 0.3s;
}
.team-2 .image .social a:nth-child(5) {
    -webkit-transition: all 0.3s ease 0.4s;
    -o-transition: all 0.3s ease 0.4s;
    transition: all 0.3s ease 0.4s;
}
.team-2 .image .social a:nth-child(6) {
    -webkit-transition: all 0.3s ease 0.5s;
    -o-transition: all 0.3s ease 0.5s;
    transition: all 0.3s ease 0.5s;
}
.team-2 .image .social a:last-child {
    margin-right: 0;
}
.team-2 .image .social a i {
    display: block;
    font-size: 14px;
    line-height: 20px;
}
.team-2 .image .social a.facebook {
    background-color: #4867AA;
}
.team-2 .image .social a.twitter {
    background-color: #1DA1F2;
}
.team-2 .image .social a.linkedin {
    background-color: #007BB6;
}
.team-2 .image .social a.google {
    background-color: #DD5144;
}
.team-2 .content {
    text-align: center;
    padding: 20px 20px 0;
}
.team-2 .content .title {
    font-size: 24px;
    margin-bottom: 10px;
}
.team-2 .content span {
    display: block;
    line-height: 18px;
    margin-bottom: 5px;
}
.team-2 .content .email {
    display: block;
    line-height: 18px;
    margin-bottom: 5px;
    color: #65C437;
}
.team-2:hover .image {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}
.team-2:hover .image .social a {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}
/*------------------------------------
			Footer Css
------------------------------------*/
.footer{
	background: url(../images/footer-bg.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center top;
}
.footer:before{
	position: absolute;
	display: block;
	content: "";
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(33,31,45,0.9);
}
.footer-block-titel{
	font-weight: 500;
}
.footer-block-titel:before{
	position: absolute;
	display: block;
	content: "";
	background: #4FC54C;
	width: 30px;
	height: 3px;
	bottom: -15px;
	border-radius: 2px;
}
.getin-touch li{
	font-size: 15px;
	position: relative;
}
.getin-touch li span {
    display: -webkit-box;
}
.getin-touch li i {
    border: 1px solid #fff;
    height: 30px;
    width: 30px;
    color: #FFF;
    line-height: 28px;
    text-align: center;
    float: left;
    padding-left: 1px;
}
.getin-touch a{
	vertical-align: -webkit-baseline-middle;
}
.headquarter span{
	color: #ccc;
}
.footer-block a:hover{
	color: #ff5e14 !important;
}
.footer-logo {
    margin-bottom: 28px;
}
.footer-bottom{
	padding: 10px 0;
	background: rgba(59,51,136,0.8);
}
.copyright span{
	color: #29ABFF;
}
.footer-menu a{
	border-bottom: 1px solid rgba(255,255,255,0.4);
}
.footer-menu a:hover{
  color: #65C437 !important;
}
/*------------------------------------
			Office Locations Css
------------------------------------*/
.office-locations{
	background: #F8F9FA;
}
.office-block-titel{
	color: #212529;
	font-size: 22px;
  min-height: 52px;
}
/*------------------------------------
			logo slider Css
------------------------------------*/
.bg-light .section-heading h2{
  color: #3B3388;
}
.logo-box{
  border: 1px solid #ccc;
  min-height: 62px;
  padding: 10px 15px;
}
.logo-box:hover{
  border-color: #65C437;
}
/*------------------------------------
      Scrool Btn Css
------------------------------------*/
.back-to-top {
    width: 43px;
    height: 43px;
    line-height: 43px;
    background: #211F2D;
    font-size: 19px;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
    z-index: 9999;
}
.back-to-top:hover{
  background: #66C438;
}
/*----------------------------------------------------
      Service Page Css
-----------------------------------------------------*/
.simple-banner{
	background: url(../images/funfact-bg.jpg);
	z-index: 1;
}
.simple-banner:before{
	position: absolute;
	display: block;
	content: "";
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	background: rgba(0,0,0,0.7);
}
.simple-banner .heading h1{
	font-size: 80px;
	letter-spacing: 2px;
}
.up-menu ul li{
	color: #fff;
	font-size: 25px;
}
.up-menu ul li a:hover{
  color: #66c438;
}
/*----------------------------------------------------
      About Page Css
-----------------------------------------------------*/
.company-intro .company-info .text {
  line-height: 27px;
}
.vision{
  background-image: url('../images/vision-img.png');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: 9;
}
.vision:before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(59, 51, 136, 0.7);
  z-index: -1;
}
.vision .vision-text .text{
  line-height: 28px;
  font-size: 20px;
  margin-bottom: 0
}
.paragraph{
  font-size: 15px;
  line-height: 31px;
}
.about-wrapper {
    margin-left: 0;
    margin-right: 0;
    align-items: center;
}
.about-image {
    position: relative;
    z-index: 1;
}
.about-image.about-image-1 {
    margin-bottom: -50px;
}
.about-image.about-image-2 {
    margin-top: -50px;
}
.about-image img {
    width: 100%;
}
.about-wrapper > .col,
.about-wrapper > [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
}
/*----------------------------------------------------
      Team Page Css
-----------------------------------------------------*/
.contact-icons ul li a{
  width: 35px;
  height: 35px;
  line-height: 35px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  font-size: 17px;
  background: #f4f4f4;
  color: #a8a8a8;
}
.contact-icons ul li a:hover{
  background: #3e3084;
  color: #fff;
}
/*------------------------------------
			Responsive Css
------------------------------------*/
@media only screen and (max-width: 1199px){
  .full-colom-in-full-box {
      min-height: 193px;
  }
  .service-block-titel{
  	font-size: 16px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .about-content-2 {
      margin-top: 70px;
    }
}
@media only screen and (max-width: 991px){
	.about-us,
	section{
		padding: 30px 0;
	}
	.banner-title{
		font-size: 50px;
	}
	.home-slider{
		min-height: 500px;
	}
	.contact_info li {
	  padding: 3px 7px 6px;
	}
	.about-us .content-column .message,
    .full-colom-in-full-box{
        margin-bottom: 20px;
  }
   .location-row {
      max-width: 480px;
      margin: 0 auto;
  }
   .about-us .content-column .inner-column,
   .section-heading{
  	   padding: 0;
  }
  .about-us .content-column .text,
  .company-intro .company-info .text{
  	line-height: 30px;
  	margin-bottom: 5px;
  }
  .about-us .content-column .message{
  	line-height: 33px;
  }
  .inner-column{
  	width: 90%;
  	margin: 0 auto;
  	margin-top: 20px;
  }
  .gallery-titel h1{
  	font-size: 30px;
  	margin: 0 !important;
  }
  .filter-button{
  	padding: 4px 20px;
  }
  .inner-column img{
  	width: 100%;
  }
  .team-2{
  	margin-bottom: 20px;
  }
  .about-content {
    padding-left: 0 !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .about-image {
        margin: 0 !important;
    }
    .about-content-1 {
      margin-top: 30px;
    }
    .about-wrapper {
        margin-left: -15px;
        margin-right: -15px;
    }
    .about-wrapper > .col,
    .about-wrapper > [class*="col-"] {
        padding-left: 15px;
        padding-right: 15px;
    }
    .media-none{
      display: none;
    }
}
@media only screen and (max-width: 768px) {
  .responsive-menu{
    background: rgba(33,31,45,0.9);
    margin: 20px 0 0;
  }
  .responsive-menu .navbar-nav .nav-link{
  	padding: 8px 14px !important;
  	color: #fff;
  	font-size: 14px;
  	margin: 0;
  	width: 100%;
  	border-radius: 0;
  	background: transparent;
  }
  .home-slider{
  	min-height: 300px;
  }
  .slider-banner .slick-prev,
  .slider-banner .slick-next{
  	width: 35px;
  	height: 35px;
  }
  .slider-banner .slick-prev:before,
  .slider-banner .slick-next:before{
  	font-size: 16px;
  	line-height: 17px;
  }
  .banner-text{
  	max-width: 90%;
  	margin: 0 auto;
  }
  .banner-title{
  	font-size: 30px;
  	margin: 0 0 10px 0 !important;
  }
  .footer-block-titel{
  	margin: 30px 0 25px !important;
  }
  .footer-block-titel:before{
  	bottom: -5px;
  }
  .navbar-toggler {
      background: #65C437;
      height: 35px;
      width: 35px;
      padding: 0 !important;
  }
  .navbar-toggler i {
      background: #65C437;
      color: #fff;
      font-size: 21px;
  }
  .social-icon li a {
      padding: 5px 7px;
      font-size: 20px;
  }
  .sec_title h2 {
      font-size: 24px;
  }
  .service-block {
      max-width: 330px;
      margin-right: auto;
      margin-left: auto;
  }
  .service-block-first{
    margin-bottom: 50px;
  }
  .service-block{
    height: 370px;
  }
  .filter-button {
      padding: 4px 7px;
  }
  .sec-title{
  	min-height: 49px;
  }
   .service-block-third{
      margin-top: 50px;
  }
  .simple-banner .heading h1{
    font-size: 60px;
  }
  .about-image {
      margin: 0 !important;
  }
  .about-wrapper {
      margin-left: -15px;
      margin-right: -15px;
  }
  .about-wrapper > .col,
  .about-wrapper > [class*="col-"] {
      padding-left: 15px;
      padding-right: 15px;
  }
}
@media only screen and (max-width: 580px){
  .social-icon li {
      float: inherit;
  }
  .top-header .left-col {
    border-bottom: 1px solid #dee2e6;
  }
  .section-heading{
  	padding: 0;
  }
  .service-block{
    height: auto;
  }
  .filter-button {
      padding: 4px 17px;
  }
  .pull-xs-none{
  	float: none;
  	text-align: center;
  }
  .gallery-titel,
  .gallery-menu-block{
  	margin-bottom: 15px !important;
  }
  .about-image.about-image-2 {
      margin-top: 30px !important;
  }
}
@media only screen and (max-width: 479px){
	.home-slider{
	    min-height: 250px;
	}
  .contact_info li{
    border: 0;
  }
  .header-logo{
  	width: 80%;
  }
  .filter-button {
      margin-bottom: 5px;
  }
}